<table class="table table-hover table-bordered">
    <tr>
        <td class="text-center"><strong>No</strong></td>
        {%- for i, value in header -%}
            {% if value['sortable'] %}
                <th class="text-center header-sortable" data-field="{{- value['field'] -}}">{% if value['field'] is sorted %}<i class="fa fa-fw sorted"></i>{% else %}<i class="fa fa-fw sortable"></i>{% endif %}{{- value['title'] | upper -}}</th>
            {% else %}
                <th class="text-center"><strong>{{- value['title'] | upper -}}</strong></th>
            {% endif %}
        {%- endfor -%}
    </tr>
    {%- for key, value in record -%}
        <tr>
            <td>{{- start + key + 1 -}}</td>
            {%- for i, v in value -%}
                {%- if v.timezone is defined -%}
                    <td>{{- v | date(date_time_format) -}}
                {%- else -%}
                    {%- if v is iterable -%}
                        {%- set value = '' -%}
                        {%- for i, v in v -%}
                            {%- set value = value ~ v ~ ', ' -%}
                        {%- endfor -%}
                        <td>{{- value | trim(', ')-}}
                    {%- else -%}
                        {% if v is numeric and formating_number %}
                            <td>{{- (-1 * v) | number_format(number['decimal_precision'], number['decimal_separator'], number['thousand_separator']) -}}
                        {% else %}
                            {% if v is boolean %}
                                <td class="text-center"><label>
                                <input {% if v is same as(true) %}{{ 'checked disabled' }}{% endif %} data-toggle="toggle" data-onstyle="success" type="checkbox">
                            </label>
                            {% else %}
                                <td>{{- v | raw -}}
                            {% endif %}
                        {% endif %}
                    {%- endif -%}
                {%- endif -%}
                </td>
            {%- endfor -%}
            <td width="22%" class="text-center">
                <div class="btn-group" role="group">
                    {%- for i, v in action -%}
                        {%- if v is same as('GRID_ACTION_SHOW') -%}
                            <button data-record="{{- identifier[key] -}}" class="btn btn-labeled btn-success show">
                                <span class="btn-label"><i class="fa fa-share"></i></span>{{- 'action.show' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}
                            </button>
                        {%- endif -%}
                        {%- if v is same as('GRID_ACTION_EDIT') -%}
                            <button data-record="{{- identifier[key] -}}" class="btn btn-labeled btn-warning edit">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>{{- 'action.edit' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}
                            </button>
                        {%- endif -%}
                        {%- if v is same as('GRID_ACTION_DELETE') -%}
                            <button data-record="{{- identifier[key] -}}" class="delete btn btn-labeled btn-danger delete">
                                <span class="btn-label"><i class="fa fa-trash"></i></span>{{- 'action.delete' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}
                            </button>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </td>
        </tr>
    {%- endfor -%}
</table>
<div class="padding-top-7">
    <div class="pull-left">
        <a href = "#" class="btn btn-primary add-new">{{- 'action.add' | trans({}, 'SymfonianIndonesiaAdminBundle') -}}</a>
    </div>
    <div class="pull-right">
        {{- knp_pagination_render(pagination) -}}
    </div>
</div>
